@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    
     font-family: 'Poppins', sans-serif;
    

}
select{
    -webkit-appearance: none;
  -moz-appearance: none;
  padding: 3px;
  cursor: pointer;
}

.hero-section{
     background-color:#fbbf27;
     
   
   position:relative;
}

.hero-section::after {
     content:'';
     width: 100%;
     height:290px;
     background-image: url('./image/hero-wave.svg');
     position: absolute;
     top: 100%;
     z-index:-1;
      background-size: cover;
     background-position: center;
}
.icon{
    fill:white
}
.faq-content{
   
    height:0;
    display:none;
     transition:all 300ms ease-in;
}
.faq-content.show{
    height:auto;
    display: block;
   
}

.text-section{
    margin-top: 100px;
    margin-bottom: 250px;
     position:relative;
     background-color: hsl(35, 58%, 93%);
    
}


.text-section::before {
     content:"";
     position:absolute;
     top:-200px;
     width: 100%;
     height:215px;
     background: url('./image/page-up-wave.svg');
     z-index:-1; 
      background-size: cover;
     background-position: center;
}
.text-section::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 215px;
    top:100%;
    background-image: url('./image/page-down-wave.svg');
    z-index:-1; 
      background-size: cover;
     background-position: center;
}
.pricing-card,nav,footer{
    background-color: #fbbf27;
}
.monthly-price{
    color:#fbbf27;
}
footer{
   position:relative;
}
footer::before{
    content:'';
     width: 100%;
     height:290px;
     background-image: url('/image/footer.svg');
     position: absolute;
     /* top: -285px; */
     top:-285px;
     z-index:-1;
      background-size: cover;
     background-position: center;
}

@layer components{ 
    .nav-link{
    @apply text-xl font-semibold hover:bg-white border-[3px] border-transparent px-4 py-3 rounded-lg  hover:border-[3px] hover:border-black;
}
.btn{
    @apply uppercase text-xl font-semibold bg-white   px-6 py-3 rounded-lg ;
    box-shadow: 0 0 0 3px black;
}

.btn-wrapper{
    @apply rounded-lg;
    box-shadow: 0 0 0 3px black;
    background-color:black;
}
.btn:hover{
    transform:translateY(-5px);
    transition: transform 200ms ease;
}
.business-logo{
    @apply w-40 object-contain opacity-50 hover:opacity-100; 
}
}

